body {
  background: #141414;
  color: #ffffff;
}

.container {
  display: flex;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.row * {
  width: auto;
  display: flex !important;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 20%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0px;
  justify-content: center !important;
  align-items: center;
  text-align: center;
}

.add-favourite {
  display: flex;
  align-items: center;
}

.movie-list-heading-logo {
  width: 200px;
  height: 67px;
}

.ant-layout-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.SearchButton {
  border: 1px solid white;
}

.movie-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  overflow-x: auto;
  overscroll-behavior: contain;
  gap: 20px;
  margin-bottom: 20px;
  overflow-y: hidden;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-delay: 0.3s;
}

.image-container > img {
  inline-size: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
}

.favourite-list-heading, .movie-list-heading {
  text-align: start;
  color: #fff;
  height: 45px;
  margin: 20px;
  padding-inline: 20px;
  line-height: 100px;
  background-color: #141414;
  font: 30px bolder;
  font-family: Futura;
  letter-spacing: -1px;
}

.overlay-favourite {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.3s ease;
  opacity: 1;
  height: 10%;
  bottom: -10%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.image-container:hover .overlay-favourite {
  opacity: 1;
  bottom: 4.5%;
  transition-delay: 0.3s;
}

.add-favourite-text {
  font: 100% bolder;
  font-family: Futura;
  letter-spacing: -1px;
}

.remove-favourite-text {
  font: 100% bolder;
  font-family: Futura;
  letter-spacing: -1px;
}

.welcome-message{
  padding: 20px 80px 0px 80px;
}

.welcome-message-title, .welcome-message-description{
  margin: 20px;
}

.add-favourite-movie-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
